.search{
    max-width: 1000px;
    margin: 50px auto;
}
.tabs__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tab{
    min-width: 1000px;
}